In [88]:
import pandas as pd
from collections import Counter
from sklearn import preprocessing
import numpy as np
import math
from scipy import stats

from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor

### 1. Gather Data

In [2]:
def readtheTrainData(fname):
    return pd.read_csv(fname)

train_data = readtheTrainData('TrainData_PA.csv')
train_data_before_clean = train_data.copy()

### 2. Assess Data : Inspecting Data for Quality and Tidiness Issues
#### 2.1 Quality Issues : Issues with content - missing, duplicate or incorrect data. a.k.a Dirty data 
* 2.1.a Completeness : *"Are there any rows, columns or cells missing ?"*
  * Zipcode, county, address & property_type has the missing values
####   
* 2.1.b Validity : *"Does the data comply to the data schema like duplicate patient id or zip code being < 5 digits or float data type?"*
  * zipcode is float type
  * longitude and lattitude has to be represented in 3 dimentional space (x,y,z). So that digits can be used as the numerical value.
####   
  
* 2.1.c Accuracy : *"Wrong data that is valid. like hieght = 300 inches; it still complies to the standard i.e. inches but data is in accurate."*
  * Census_MedianIncome = 0 may be an outlier
####   
  
* 2.1.d Consistency : *"Both valid and accurate but inconsistent. state = california and CA"*
  * lotsize does not clearly indicate its metric of calculation.
####

#### 2.2 Tidiness Issues: Issues with structure - untidy or messy data
* 2.2.a Each observation is a row
  * There are 50+ redundant data samples.
######   
* 2.2.b Each variable is a column
  * State is an obsolete column as it has only one value
  * property_type is categorical
  * garage, pool, fireplace, patio are binary
  * time is ordinal (2016.25, 2015.75, 2015.5, 2015.25)
######  
* 2.2.c Each observational unit is a table
  * 'time' variable has introduced redundancy in the dataset
######

In [3]:
train_data

,county,city,zipcode,address,state,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
0,NaN,WEXFORD,NaN,266 Clematis Dr Allegheny County,PA,2400,40.618200,-80.077600,1.019586,0.206222,...,4086.388045,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
1,NaN,WHITEHALL,NaN,2310 N 1st Ave Lehigh County,PA,995,40.649906,-75.478940,1.019586,0.206222,...,2247.513425,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
2,NaN,WHITEHALL,NaN,3338 St Stephens Ln Lehigh County,PA,1740,40.646282,-75.510056,1.019586,0.206222,...,3109.741302,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
3,NaN,WAYNESBORO,NaN,97 W Main St Franklin County,PA,675,39.756992,-77.579704,1.019586,0.206222,...,2349.673126,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
4,NaN,QUAKERTOWN,NaN,200 E Broad St Bucks County,PA,1300,40.441177,-75.332540,1.019586,0.206222,...,2043.194023,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
5,NaN,WAYNESBORO,NaN,407 Viewpoint Way Franklin County,PA,1025,39.766594,-77.582490,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
6,NaN,WAYNESBORO,NaN,403 Viewpoint Way Franklin County,PA,1025,39.766580,-77.582450,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
7,NaN,WAYNESBORO,NaN,240 Crown Ct Franklin County,PA,1025,39.759663,-77.575090,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
8,NaN,WAYNESBORO,NaN,101 S Potomac St Franklin County,PA,795,39.755530,-77.581154,1.019586,0.206222,...,2451.832827,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
9,NaN,UPPER DARBY,NaN,446 Woodcliffe Rd Delaware County,PA,925,39.958010,-75.264300,1.019586,0.206222,...,2051.366799,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
10,NaN,ROYERSFORD,NaN,408 Lakeview Dr Montgomery County,PA,1355,40.197796,-75.531235,1.019586,0.206222,...,2502.912678,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
11,NaN,PERKASIE,NaN,802 Orangewood Ct Bucks County,PA,1595,40.355476,-75.274410,1.019586,0.206222,...,3185.339481,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
12,NaN,WEXFORD,NaN,9000 Christopher Wren Dr Allegheny County,PA,1600,40.633537,-80.067280,1.019586,0.206222,...,3148.561989,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
13,NaN,PERKASIE,NaN,601 Orangewood Ct Bucks County,PA,1885,40.356300,-75.273850,1.019586,0.206222,...,3806.470464,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
14,NaN,WEXFORD,NaN,155 Laurel Crest Dr Allegheny County,PA,2000,40.620857,-80.077070,1.019586,0.206222,...,4086.388045,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
15,NaN,WAYNESBORO,NaN,37 E Main St #2 Franklin County,PA,595,39.755363,-77.576904,1.019586,0.206222,...,1838.874620,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
16,NaN,WAYNESBORO,NaN,252 W 2nd St Franklin County,PA,745,39.757430,-77.585020,1.019586,0.206222,...,1965.552650,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
17,NaN,WAYNESBORO,NaN,101 Green St Franklin County,PA,995,39.749794,-77.586940,1.019586,0.206222,...,2901.335512,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
18,NaN,WAYNESBORO,NaN,101 S Potomac St Franklin County,PA,895,39.755530,-77.581154,1.019586,0.206222,...,2553.992528,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
19,NaN,PERKASIE,NaN,514 Cherrywood Ct Bucks County,PA,1885,40.355534,-75.275080,1.019586,0.206222,...,3806.470464,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
20,NaN,WHITEHALL,NaN,5 Jordan Dr #1 Lehigh County,PA,889,40.620010,-75.462550,1.019586,0.206222,...,1287.212234,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
21,NaN,PERKASIE,NaN,208 Dean Dr Bucks County,PA,1000,40.379680,-75.200160,1.019586,0.206222,...,2247.513425,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
22,NaN,WEXFORD,NaN,126 Laurel Crest Dr Allegheny County,PA,1700,40.621460,-80.077500,1.019586,0.206222,...,3269.110436,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
23,NaN,WAYNESBORO,NaN,391 Viewpoint Way Franklin County,PA,1025,39.767002,-77.582580,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
24,NaN,WEXFORD,NaN,123 Laurel Crest Dr Allegheny County,PA,1875,40.619740,-80.076840,1.019586,0.206222,...,4086.388045,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
25,NaN,WHITEHALL,NaN,5450 Pennsylvania St Lehigh County,PA,1550,40.681650,-75.518750,1.019586,0.206222,...,3630.755778,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
26,ADAMS,GETTYSBURG,17325.0,438 Side Apt Baltimore St Adams County,PA,625,39.824860,-77.230730,1.019586,0.206222,...,919.437310,56656.34,17.0,57.03,62.7,4.00,3.53,2.24,3.800000,158051
27,ADAMS,NEW OXFORD,17350.0,this property Adams County,PA,1195,39.861755,-77.069725,1.019586,0.206222,...,2288.377305,56228.50,10.0,45.26,63.9,4.00,3.27,1.61,1.800000,158051
28,ADAMS,NEW OXFORD,17350.0,4290 CARLISLE PIKE,PA,1195,39.900276,-77.044827,5.435821,0.006502,...,2872.730796,56228.50,10.0,45.26,63.9,4.00,3.27,1.61,1.800000,166560
29,ADAMS,GETTYSBURG,17325.0,NaN,PA,750,30.438256,-84.280733,1.019586,0.206222,...,1736.714919,56656.34,17.0,57.03,62.7,4.00,3.53,2.24,3.800000,158051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18173,YORK,HANOVER,17331.0,114 W ELM AVE,PA,1250,39.809623,-76.992310,1.497764,0.081096,...,7889.666667,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,143059
18174,YORK,YORK,17406.0,240 HUNTER CREEK DR,PA,1350,40.057996,-76.771375,2.331539,0.872504,...,10577.333330,59710.22,16.0,58.73,63.4,4.50,3.49,1.32,5.481429,191975
18175,YORK,DELTA,17314.0,311 MAIN ST,PA,1950,39.724325,-76.332646,0.455354,0.589793,...,2872.730796,56089.04,6.0,49.03,69.8,4.50,3.61,3.60,0.000000,99072
18176,YORK,HANOVER,17331.0,Address Not Disclosed,PA,1300,39.797024,-76.982510,1.019586,0.206222,...,6677.158066,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,158051
18177,YORK,YORK,17402.0,2 Bedroom,PA,1080,40.079582,-77.169950,1.019586,0.206222,...,4462.335745,60902.49,20.0,68.56,60.2,4.50,3.50,1.20,3.720617,158051
18178,YORK,SPRING GROVE,17362.0,236 COURTNEY CT,PA,2200,39.890008,-76.882307,2.166455,1.078304,...,2872.730796,70557.94,13.0,53.55,75.0,4.50,3.39,0.65,0.350000,287116
18179,YORK,YORK,17401.0,141 W MARKET ST,PA,895,39.961883,-76.731095,1.079492,0.026770,...,7111.000000,23151.17,10.0,58.98,7.7,4.00,3.45,18.86,25.902789,158051
18180,YORK,YORK,17406.0,4478 E PROSPECT RD,PA,1850,39.968196,-76.590951,3.092138,2.624337,...,2872.730796,59710.22,16.0,58.73,63.4,4.50,3.49,1.32,5.481429,99947
18181,YORK,YORK,17403.0,208 ARCH ST,PA,850,39.969291,-76.726319,0.699500,0.215116,...,1133.333333,21329.00,7.0,45.70,23.3,3.99,3.25,17.38,10.495354,37632
18182,YORK,MANCHESTER,17345.0,1015 BOWERS BRIDGE RD,PA,1400,40.102044,-76.744303,3.156183,1.033319,...,2872.730796,58845.15,11.0,54.19,50.4,4.50,3.30,1.05,6.200000,164568
18183,YORK,YORK,17401.0,709 CLEVELAND AVE,PA,1650,39.953045,-76.723901,1.099535,0.033848,...,1788.333333,24459.78,5.0,50.90,21.8,4.00,3.33,10.05,25.902789,44082
18184,YORK,RED LION,17356.0,409 PAULINE DR,PA,1650,39.931848,-76.613762,1.281887,2.178355,...,17394.333330,56388.20,15.0,60.70,69.1,4.50,3.40,0.78,5.481429,168642
18185,YORK,YORK,17403.0,119 STANLEY PL,PA,525,39.965295,-76.713325,1.261783,0.159590,...,739.666667,30662.90,4.0,38.58,23.5,4.00,3.30,5.72,10.495354,42719
18186,YORK,HANOVER,17331.0,886 BROADWAY,PA,1300,39.818144,-76.975363,1.372622,0.988690,...,10798.000000,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,126075
18187,YORK,DELTA,17314.0,"1098,Orchard Rd,",PA,1550,39.736090,-76.256282,1.019586,0.206222,...,2549.906140,56089.04,6.0,49.03,69.8,4.50,3.61,3.60,0.000000,158051
18188,YORK,YORK,17408.0,"1878,Kenneth Rd,Shiloh",PA,1135,39.979685,-76.777632,1.019586,0.206222,...,2353.759514,64019.04,17.0,61.54,56.4,4.50,3.52,0.38,3.720617,158051
18189,YORK,YORK,17404.0,1028 N DUKE ST,PA,950,39.977367,-76.731321,0.163087,0.110168,...,1760.000000,39894.83,5.0,35.43,25.8,3.99,3.36,4.30,10.495354,86438
18190,YORK,YORK,17403.0,654 DALLAS ST,PA,2200,39.958710,-76.708112,0.817127,0.159191,...,2044.333333,30662.90,4.0,38.58,23.5,4.00,3.30,5.72,10.495354,59259
18191,YORK,YORK,17403.0,"1201,Stonehaven Way,",PA,1650,39.940508,-76.745059,1.019586,0.206222,...,860.184684,47622.76,17.0,62.04,51.5,4.50,3.47,3.50,10.495354,158051
18192,YORK,YORK,17408.0,"1878,Kenneth Rd,Shiloh",PA,785,39.979669,-76.777654,1.019586,0.206222,...,1583.475368,64019.04,17.0,61.54,56.4,4.50,3.52,0.38,3.720617,158051
18193,YORK,YORK,17403.0,115 EDGAR ST,PA,795,39.963098,-76.718726,1.285192,0.154546,...,1854.333333,30399.00,3.0,36.13,8.6,4.00,3.20,3.96,10.495354,44680
18194,YORK,YORK,17404.0,1317 N GEORGE ST,PA,995,39.980898,-76.733721,0.102961,0.041139,...,6357.666667,39894.83,5.0,35.43,25.8,3.99,3.36,4.30,10.495354,158051
18195,YORK,YORK,17401.0,115 S WEST ST,PA,995,39.956024,-76.742116,0.993892,0.138884,...,1863.666667,30264.15,2.0,26.74,7.8,4.00,2.89,11.52,25.902789,67916
18196,YORK,YORK,17403.0,25 COLUMBIA AVE,PA,750,39.964412,-76.719005,1.207256,0.068537,...,1312.666667,17999.00,12.0,48.33,9.0,4.00,3.12,16.38,10.495354,36331
18197,YORK,YORK,17406.0,8430 Ln Place,PA,1600,38.973087,-94.576547,1.019586,0.206222,...,1430.235816,59710.22,16.0,58.73,63.4,4.50,3.49,1.32,5.481429,158051
18198,YORK,YORK,17403.0,2829 EXETER DR N,PA,1600,39.902444,-76.669175,1.328155,0.249626,...,13746.333330,47622.76,17.0,62.04,51.5,4.50,3.47,3.50,10.495354,155655
18199,YORK,YORK HAVEN,17370.0,"253,Garriston Rd,",PA,700,40.125853,-76.833373,1.019586,0.206222,...,6311.426336,63137.76,13.0,57.38,51.8,4.50,3.53,2.09,5.481429,158051
18200,YORK,YORK,17403.0,406 E KING ST,PA,675,39.963334,-76.718765,1.271439,0.142410,...,1455.000000,30399.00,3.0,36.13,8.6,4.00,3.20,3.96,10.495354,64438
18201,YORK,YORK,17401.0,752 S GEORGE ST,PA,900,39.952275,-76.723242,1.039703,0.005294,...,8935.000000,24459.78,5.0,50.90,21.8,4.00,3.33,10.05,25.902789,158051
18202,YORK,HANOVER,17331.0,6 ZACHARY DR,PA,1250,39.770746,-76.950987,1.722818,0.530978,...,2203.666667,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,135868

In [4]:
for c in train_data.columns:
    print(train_data[c].describe())
    #input("Hit Enter : ")

count            18177
unique              61
top       PHILADELPHIA
freq              4970
Name: county, dtype: object
count            18203
unique             674
top       PHILADELPHIA
freq              4970
Name: city, dtype: object
count    18177.000000
mean     18030.505364
std       1482.025500
min      15001.000000
25%      17111.000000
50%      18944.000000
75%      19129.000000
max      19611.000000
Name: zipcode, dtype: float64
count                                    17496
unique                                   14579
top       Center City East Philadelphia County
freq                                        51
Name: address, dtype: object
count     18203
unique        1
top          PA
freq      18203
Name: state, dtype: object
count    18203.000000
mean      1601.734165
std        914.730775
min        385.000000
25%       1000.000000
50%       1400.000000
75%       1900.000000
max      16000.000000
Name: rent, dtype: float64
count    18203.000000
mean        40.087378
std          1.578798
min        -11.968575
25%         39.967467
50%         40.130577
75%         40.444644
max         61.218056
Name: latitude, dtype: float64
count    18203.000000
mean       -77.267575
std          5.905950
min       -149.900278
25%        -77.012524
50%        -75.477834
75%        -75.185723
max        -11.706829
Name: longitude, dtype: float64
count    18203.000000
mean         1.210770
std          0.936564
min          0.023038
25%          0.821590
50%          1.019586
75%          1.229043
max          9.747778
Name: cemetery_dist_miles, dtype: float64
count    18203.000000
mean         0.292568
std          0.363775
min          0.000035
25%          0.145526
50%          0.206222
75%          0.283572
max          5.861421
Name: nationalhighway_miles, dtype: float64
count    18203.000000
mean         1.041623
std          1.529849
min          0.000794
25%          0.470385
50%          0.629888
75%          0.862587
max         28.306430
Name: railline_miles, dtype: float64
count    18203.000000
mean         2.043848
std          3.122275
min          0.013197
25%          0.986498
50%          1.348776
75%          1.809722
max         61.349250
Name: starbucks_miles, dtype: float64
count    18203.000000
mean         3.522699
std          1.758302
min          0.118545
25%          2.719653
50%          3.326397
75%          3.864574
max         22.611844
Name: walmart_miles, dtype: float64
count    18203.000000
mean         2.270811
std          2.439700
min          0.041096
25%          1.180311
50%          1.584675
75%          2.223802
max         32.433629
Name: hospital_miles, dtype: float64
count    18203.000000
mean         0.351478
std          0.538380
min          0.000087
25%          0.170815
50%          0.229126
75%          0.300576
max         10.825859
Name: physician_dist_miles, dtype: float64
count    18203.000000
mean         0.708954
std          0.965186
min          0.000157
25%          0.361726
50%          0.472933
75%          0.612327
max         19.823016
Name: dentist_dist_miles, dtype: float64
count    18203.000000
mean         0.891707
std          1.065061
min          0.000157
25%          0.495559
50%          0.651244
75%          0.858610
max         22.761643
Name: opt_dist_miles, dtype: float64
count    18203.000000
mean        12.368730
std         17.399292
min          0.013511
25%          4.851441
50%          7.323725
75%         10.268145
max        141.184122
Name: vet_dist_miles, dtype: float64
count    18203.000000
mean         1.762844
std          2.154279
min          0.014231
25%          0.751314
50%          1.094678
75%          1.709571
max         35.603985
Name: farmers_miles, dtype: float64
count    18203.000000
mean      2015.577913
std          0.344428
min       2015.250000
25%       2015.250000
50%       2015.500000
75%       2015.750000
max       2016.250000
Name: time, dtype: float64
count    18203.000000
mean         2.766247
std          1.440967
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         18.000000
Name: bed, dtype: float64
count    18203.000000
mean         1.623743
std          0.855703
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         12.000000
Name: bath, dtype: float64
count    18203.000000
mean         1.027358
std          0.212040
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         12.000000
Name: halfbath, dtype: float64
count    18203.000000
mean      1536.611218
std        826.928419
min         35.000000
25%       1000.000000
50%       1342.000000
75%       1846.500000
max       5000.000000
Name: sqft, dtype: float64
count     15515
unique        5
top       Condo
freq       7418
Name: property_type, dtype: object
count    18203.000000
mean         0.292424
std          0.454889
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: garage, dtype: float64
count    18203.000000
mean      1959.078284
std         23.153752
min       1800.000000
25%       1960.000000
50%       1960.000000
75%       1960.000000
max       2016.000000
Name: yearbuilt, dtype: float64
count    18203.000000
mean         0.011262
std          0.105526
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: pool, dtype: float64
count    18203.000000
mean         0.207603
std          0.405602
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: fireplace, dtype: float64
count    18203.000000
mean         0.197055
std          0.397785
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: patio, dtype: float64
count    18203.000000
mean      3683.627327
std       3199.469032
min          1.000000
25%       1724.000000
50%       2872.730796
75%       4290.707448
max      19341.000000
Name: lotsize, dtype: float64
count     18203.000000
mean      57076.140365
std       23873.065621
min           0.000000
25%       41040.665000
50%       54476.090000
75%       70379.790000
max      198425.570000
Name: Census_MedianIncome, dtype: float64
count    18203.000000
mean        24.763198
std         15.978667
min          1.000000
25%         13.000000
50%         21.000000
75%         35.000000
max         72.000000
Name: CollegeGrads, dtype: float64
count    18203.000000
mean        67.419613
std         14.839700
min         15.090000
25%         56.200000
50%         66.570000
75%         79.340000
max         95.520000
Name: WhiteCollar, dtype: float64
count    18203.000000
mean        46.932605
std         26.840908
min          1.000000
25%         22.500000
50%         48.100000
75%         68.000000
max         99.000000
Name: Schools, dtype: float64
count    18203.000000
mean         5.182363
std          0.956217
min          2.970000
25%          4.500000
50%          5.100000
75%          6.000000
max         10.000000
Name: Unemployment, dtype: float64
count    18203.000000
mean         3.438426
std          0.150475
min          2.350000
25%          3.370000
50%          3.480000
75%          3.540000
max          3.670000
Name: EmploymentDiversity, dtype: float64
count    18203.000000
mean         4.887957
std          4.431504
min          0.000000
25%          1.320000
50%          3.420000
75%          7.040000
max         31.000000
Name: Census_Vacancy, dtype: float64
count    18203.000000
mean         6.385568
std          7.310517
min          0.000000
25%          1.468825
50%          2.400000
75%          9.136104
max         39.159639
Name: Crime_Rate, dtype: float64
count    1.820300e+04
mean     1.836020e+05
std      1.877200e+05
min      2.452200e+04
25%      1.537940e+05
50%      1.580510e+05
75%      1.613435e+05
max      8.628600e+06
Name: HomePrice, dtype: float64

In [5]:
train_data_explore = train_data.describe(include='all')
print("Number of columns : ", train_data_explore.iloc[0].shape[0])
temp_df = pd.DataFrame(train_data_explore.iloc[0],columns=['count'])
print("features with NA Attributes : ", train_data.columns[train_data.isna().any()].tolist())
temp_df.sort_values('count').head(10)

Number of columns :  40
features with NA Attributes :  ['county', 'zipcode', 'address', 'property_type']

               count
property_type  15515
address        17496
county         18177
zipcode        18177
sqft           18203
garage         18203
yearbuilt      18203
pool           18203
fireplace      18203
patio          18203

In [6]:
train_data[train_data.columns[0:10]].describe(include='all')

,county,city,zipcode,address,state,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles
count,18177,18203,18177.000000,17496,18203,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000
unique,61,674,NaN,14579,1,NaN,NaN,NaN,NaN,NaN
top,PHILADELPHIA,PHILADELPHIA,NaN,Center City East Philadelphia County,PA,NaN,NaN,NaN,NaN,NaN
freq,4970,4970,NaN,51,18203,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,18030.505364,NaN,NaN,1601.734165,40.087378,-77.267575,1.210770,0.292568
std,NaN,NaN,1482.025500,NaN,NaN,914.730775,1.578798,5.905950,0.936564,0.363775
min,NaN,NaN,15001.000000,NaN,NaN,385.000000,-11.968575,-149.900278,0.023038,0.000035
25%,NaN,NaN,17111.000000,NaN,NaN,1000.000000,39.967467,-77.012524,0.821590,0.145526
50%,NaN,NaN,18944.000000,NaN,NaN,1400.000000,40.130577,-75.477834,1.019586,0.206222
75%,NaN,NaN,19129.000000,NaN,NaN,1900.000000,40.444644,-75.185723,1.229043,0.283572
max,NaN,NaN,19611.000000,NaN,NaN,16000.000000,61.218056,-11.706829,9.747778,5.861421

In [7]:
train_data[train_data.columns[10:20]].describe(include='all')

,railline_miles,starbucks_miles,walmart_miles,hospital_miles,physician_dist_miles,dentist_dist_miles,opt_dist_miles,vet_dist_miles,farmers_miles,time
count,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000
mean,1.041623,2.043848,3.522699,2.270811,0.351478,0.708954,0.891707,12.368730,1.762844,2015.577913
std,1.529849,3.122275,1.758302,2.439700,0.538380,0.965186,1.065061,17.399292,2.154279,0.344428
min,0.000794,0.013197,0.118545,0.041096,0.000087,0.000157,0.000157,0.013511,0.014231,2015.250000
25%,0.470385,0.986498,2.719653,1.180311,0.170815,0.361726,0.495559,4.851441,0.751314,2015.250000
50%,0.629888,1.348776,3.326397,1.584675,0.229126,0.472933,0.651244,7.323725,1.094678,2015.500000
75%,0.862587,1.809722,3.864574,2.223802,0.300576,0.612327,0.858610,10.268145,1.709571,2015.750000
max,28.306430,61.349250,22.611844,32.433629,10.825859,19.823016,22.761643,141.184122,35.603985,2016.250000

In [8]:
train_data[train_data.columns[20:30]].describe(include='all')

,bed,bath,halfbath,sqft,property_type,garage,yearbuilt,pool,fireplace,patio
count,18203.000000,18203.000000,18203.000000,18203.000000,15515,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000
unique,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,Condo,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,7418,NaN,NaN,NaN,NaN,NaN
mean,2.766247,1.623743,1.027358,1536.611218,NaN,0.292424,1959.078284,0.011262,0.207603,0.197055
std,1.440967,0.855703,0.212040,826.928419,NaN,0.454889,23.153752,0.105526,0.405602,0.397785
min,1.000000,1.000000,1.000000,35.000000,NaN,0.000000,1800.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1000.000000,NaN,0.000000,1960.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,1.000000,1342.000000,NaN,0.000000,1960.000000,0.000000,0.000000,0.000000
75%,3.000000,2.000000,1.000000,1846.500000,NaN,1.000000,1960.000000,0.000000,0.000000,0.000000
max,18.000000,12.000000,12.000000,5000.000000,NaN,1.000000,2016.000000,1.000000,1.000000,1.000000

In [9]:
train_data[train_data.columns[30:]].describe(include='all')

,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
count,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,1.820300e+04
mean,3683.627327,57076.140365,24.763198,67.419613,46.932605,5.182363,3.438426,4.887957,6.385568,1.836020e+05
std,3199.469032,23873.065621,15.978667,14.839700,26.840908,0.956217,0.150475,4.431504,7.310517,1.877200e+05
min,1.000000,0.000000,1.000000,15.090000,1.000000,2.970000,2.350000,0.000000,0.000000,2.452200e+04
25%,1724.000000,41040.665000,13.000000,56.200000,22.500000,4.500000,3.370000,1.320000,1.468825,1.537940e+05
50%,2872.730796,54476.090000,21.000000,66.570000,48.100000,5.100000,3.480000,3.420000,2.400000,1.580510e+05
75%,4290.707448,70379.790000,35.000000,79.340000,68.000000,6.000000,3.540000,7.040000,9.136104,1.613435e+05
max,19341.000000,198425.570000,72.000000,95.520000,99.000000,10.000000,3.670000,31.000000,39.159639,8.628600e+06

##### Let us focus on below from the visual observation on the column descriptions.
* Sqft = 35 
* CollegeGrads = 1 
* Schools = 1
* Census_Vacancy = 0
* Crime_Rate = 0

In [10]:
print("How many properties have sqft < 1000 :",train_data_before_clean[train_data_before_clean.sqft < 1000].shape)
print("Property type for sqft < 1000 : ", train_data_before_clean[train_data_before_clean.sqft < 1000].property_type.unique())
print("Property type for sqft < 500 : ", train_data_before_clean[train_data_before_clean.sqft < 500].property_type.unique())
print("Property type for sqft < 375 : ", train_data_before_clean[train_data_before_clean.sqft < 375].property_type.unique())
print("Property type for sqft < 300 : ", train_data_before_clean[train_data_before_clean.sqft < 300].property_type.unique())
print("Property type for sqft < 280 : ", train_data_before_clean[train_data_before_clean.sqft < 280].property_type.unique())

print("Property type for sqft < 100 : ", train_data_before_clean[train_data_before_clean.sqft < 100].property_type.unique())
print("Number of properties per Yearbuilt when sqft < 280 : ",Counter(train_data_before_clean[train_data_before_clean.sqft < 280][['bed','rent','sqft','yearbuilt','HomePrice']].yearbuilt.sort_values()))

How many properties have sqft < 1000 : (4539, 40)
Property type for sqft < 1000 :  ['Condo' nan 'SFR' 'Duplex']
Property type for sqft < 500 :  ['Condo' nan 'SFR' 'Duplex']
Property type for sqft < 375 :  ['Condo' nan 'SFR' 'Duplex']
Property type for sqft < 300 :  ['Condo' nan 'SFR' 'Duplex']
Property type for sqft < 280 :  ['Condo' nan 'SFR']
Property type for sqft < 100 :  ['Condo']
Number of properties per Yearbuilt when sqft < 280 :  Counter({1960: 29, 1945: 2, 1800: 1, 2007: 1})

In [11]:
train_data_before_clean[['yearbuilt','rent']].groupby('yearbuilt').\
        agg('count').rename(index=str, columns={'rent':'num of properties'}).\
        sort_values('num of properties',ascending=False).reset_index().head(10)

  yearbuilt  num of properties
0      1960              12967
1      1900                334
2      1920                224
3      1925                197
4      1915                189
5      1950                171
6      1970                155
7      2015                144
8      1930                131
9      2014                123

##### It appears as if post WWII , homecoming soldiers were given quaters and perhaps due to sharp demand they might had adjust a lot.
##### My view is that sqft = 35 ==> 7x5 area is not a outlier.

In [12]:
Counter(train_data_before_clean.CollegeGrads.sort_values(ascending=True))

Counter({1.0: 43,
         2.0: 263,
         3.0: 71,
         4.0: 277,
         5.0: 670,
         6.0: 388,
         7.0: 288,
         8.0: 448,
         9.0: 380,
         10.0: 450,
         11.0: 434,
         11.5: 1,
         12.0: 572,
         13.0: 931,
         14.0: 646,
         15.0: 517,
         16.0: 751,
         17.0: 489,
         18.0: 373,
         19.0: 704,
         20.0: 367,
         21.0: 535,
         22.0: 298,
         23.0: 337,
         24.0: 243,
         25.0: 264,
         26.0: 291,
         27.0: 312,
         28.0: 389,
         29.0: 166,
         30.0: 88,
         31.0: 606,
         32.0: 329,
         33.0: 298,
         34.0: 357,
         35.0: 254,
         36.0: 459,
         37.0: 273,
         38.0: 432,
         39.0: 201,
         40.0: 53,
         41.0: 352,
         42.0: 196,
         43.0: 104,
         44.0: 37,
         45.0: 145,
         46.0: 193,
         47.0: 149,
         48.0: 94,
         49.0: 40,
         50.0: 66,
         51.0: 285,
         52.0: 64,
         53.0: 44,
         54.0: 43,
         55.0: 84,
         56.0: 157,
         57.0: 61,
         58.0: 1,
         59.0: 92,
         60.0: 23,
         61.0: 99,
         62.0: 9,
         63.0: 44,
         64.0: 112,
         67.0: 80,
         69.0: 221,
         72.0: 160})

##### It appears that there may be CollegeGrads == 1; perhaps it may be military soldiers or farmers area.

In [13]:
Counter(train_data_before_clean.Schools.sort_values(ascending=True))

Counter({1.0: 62,
         1.3: 50,
         1.8: 34,
         2.4: 29,
         2.6: 2,
         2.7: 3,
         2.9: 40,
         3.3: 277,
         3.6: 6,
         3.7: 25,
         3.8: 3,
         3.9: 6,
         4.0: 24,
         4.1: 22,
         4.2: 38,
         4.3: 7,
         4.4: 3,
         4.6: 14,
         4.9: 126,
         5.0: 3,
         5.1: 4,
         5.2: 23,
         5.5: 50,
         5.8: 7,
         6.0: 31,
         6.2: 37,
         6.4: 65,
         6.5: 16,
         6.7: 8,
         6.8: 47,
         6.9: 27,
         7.1: 2,
         7.4: 6,
         7.6: 69,
         7.7: 36,
         7.8: 13,
         8.0: 2,
         8.2: 27,
         8.3: 2,
         8.6: 17,
         8.7: 47,
         8.9: 28,
         9.0: 23,
         9.1: 10,
         9.9: 2,
         10.0: 30,
         10.1: 43,
         10.2: 69,
         10.3: 105,
         10.4: 116,
         10.7: 2,
         10.8: 10,
         10.9: 5,
         11.1: 11,
         11.3: 36,
         11.4: 11,
         11.5: 19,
         11.6: 37,
         11.7: 35,
         11.8: 3,
         11.9: 1,
         12.0: 12,
         12.1: 46,
         12.2: 62,
         12.3: 55,
         12.4: 4,
         12.5: 3,
         12.6: 16,
         12.7: 17,
         12.8: 17,
         13.0: 4,
         13.1: 3,
         13.5: 59,
         13.6: 8,
         13.7: 31,
         13.8: 40,
         13.9: 35,
         14.0: 43,
         14.1: 21,
         14.2: 11,
         14.3: 39,
         14.4: 25,
         14.7: 137,
         14.9: 7,
         15.0: 66,
         15.1: 90,
         15.2: 28,
         15.3: 8,
         15.4: 6,
         15.5: 6,
         15.6: 119,
         15.7: 39,
         15.9: 39,
         16.0: 13,
         16.2: 2,
         16.3: 12,
         16.5: 17,
         16.6: 4,
         17.0: 10,
         17.1: 21,
         17.2: 28,
         17.5: 101,
         17.6: 17,
         17.8: 10,
         17.9: 1,
         18.3: 1,
         18.4: 221,
         18.5: 4,
         18.6: 2,
         18.7: 12,
         18.8: 5,
         18.9: 5,
         19.0: 21,
         19.1: 2,
         19.2: 100,
         19.4: 8,
         19.5: 18,
         19.7: 4,
         19.8: 6,
         20.1: 17,
         20.2: 31,
         20.3: 1,
         20.4: 6,
         20.5: 28,
         20.6: 1,
         20.7: 65,
         20.8: 63,
         21.0: 30,
         21.1: 63,
         21.2: 103,
         21.3: 23,
         21.5: 60,
         21.6: 14,
         21.7: 12,
         21.8: 108,
         21.9: 3,
         22.0: 17,
         22.1: 91,
         22.2: 2,
         22.3: 25,
         22.4: 111,
         22.5: 119,
         22.6: 22,
         22.7: 18,
         22.8: 19,
         22.9: 45,
         23.1: 10,
         23.3: 19,
         23.4: 12,
         23.5: 17,
         23.6: 1,
         23.8: 9,
         24.0: 3,
         24.1: 5,
         24.2: 76,
         24.3: 12,
         24.4: 17,
         24.5: 10,
         24.6: 8,
         24.7: 37,
         24.9: 45,
         25.0: 1,
         25.1: 12,
         25.2: 9,
         25.3: 21,
         25.5: 3,
         25.7: 70,
         25.8: 7,
         26.0: 24,
         26.1: 20,
         26.3: 2,
         26.4: 75,
         26.5: 10,
         26.6: 44,
         26.7: 89,
         26.8: 1,
         26.9: 4,
         27.0: 23,
         27.1: 2,
         27.2: 13,
         27.3: 7,
         27.4: 6,
         27.5: 28,
         27.6: 1,
         27.8: 79,
         28.0: 47,
         28.1: 8,
         28.2: 29,
         28.3: 29,
         28.5: 18,
         28.6: 24,
         28.9: 170,
         29.0: 1,
         29.1: 1,
         29.2: 18,
         29.3: 2,
         29.4: 33,
         29.5: 36,
         29.8: 14,
         30.1: 22,
         30.2: 18,
         30.3: 24,
         30.7: 5,
         30.8: 60,
         30.9: 19,
         31.1: 14,
         31.2: 22,
         31.3: 15,
         31.4: 38,
         31.5: 3,
         31.6: 53,
         31.7: 9,
         31.8: 7,
         31.9: 2,
         32.0: 25,
         32.1: 8,
         32.2: 3,
         32.3: 8,
         32.4: 21,
         32.5: 89,
         32.8: 56,
         32.9: 1,
         33.0: 31,
         33.1: 1,
         33.2: 13,
         33.4: 22,
         33.5: 8,
         33.6: 5,
         33.7: 18,
         33.9: 14,
         34.0: 1,
         34.2: 21,
         34.4: 6,
         34.5: 125,
         34.6: 22,
         34.7: 9,
         34.8: 5,
         34.9: 6,
         35.1: 2,
         35.2: 3,
         35.3: 34,
         35.6: 87,
         35.7: 37,
         35.8: 27,
         35.9: 59,
         36.0: 34,
         36.3: 14,
         36.4: 1,
         36.5: 19,
         36.6: 33,
         36.7: 39,
         36.8: 8,
         37.0: 15,
         37.1: 3,
         37.2: 49,
         37.4: 46,
         37.5: 47,
         37.6: 6,
         37.7: 13,
         37.9: 9,
         38.0: 40,
         38.2: 3,
         38.3: 2,
         38.5: 87,
         38.6: 76,
         38.7: 29,
         38.8: 6,
         39.1: 2,
         39.2: 48,
         39.3: 17,
         39.7: 7,
         39.8: 70,
         40.0: 14,
         40.1: 19,
         40.3: 1,
         40.7: 6,
         40.8: 1,
         40.9: 33,
         41.0: 23,
         41.1: 2,
         41.4: 7,
         41.5: 43,
         41.7: 5,
         41.8: 17,
         41.9: 50,
         42.0: 28,
         42.2: 1,
         42.3: 3,
         42.4: 13,
         42.5: 7,
         42.6: 1,
         42.8: 18,
         42.9: 38,
         43.0: 29,
         43.2: 18,
         43.4: 6,
         43.5: 134,
         43.7: 3,
         43.8: 89,
         43.9: 22,
         44.0: 40,
         44.2: 3,
         44.3: 6,
         44.4: 55,
         44.5: 93,
         44.7: 38,
         44.8: 10,
         44.9: 10,
         45.0: 13,
         45.2: 10,
         45.5: 5,
         45.6: 11,
         45.7: 2,
         45.8: 4,
         45.9: 2,
         46.0: 2,
         46.1: 19,
         46.2: 17,
         46.3: 9,
         46.4: 13,
         46.5: 25,
         46.6: 1,
         46.7: 2,
         46.8: 2,
         46.9: 16,
         47.0: 55,
         47.1: 36,
         47.3: 24,
         47.4: 58,
         47.5: 6,
         47.6: 10,
         47.7: 11,
         47.9: 1,
         48.0: 31,
         48.1: 32,
         48.2: 2,
         48.3: 95,
         48.4: 14,
         48.5: 18,
         48.6: 3,
         48.7: 38,
         48.8: 14,
         48.9: 49,
         49.0: 30,
         49.1: 20,
         49.2: 24,
         49.3: 54,
         49.4: 18,
         49.5: 14,
         49.6: 7,
         49.7: 22,
         49.8: 11,
         50.0: 106,
         50.1: 25,
         50.2: 66,
         50.3: 58,
         50.4: 43,
         50.5: 34,
         50.6: 7,
         50.7: 1,
         50.8: 52,
         50.9: 2,
         51.0: 13,
         51.1: 7,
         51.3: 11,
         51.4: 164,
         51.5: 32,
         51.6: 12,
         51.7: 40,
         51.8: 8,
         52.0: 3,
         52.1: 117,
         52.2: 8,
         52.3: 53,
         52.4: 1,
         52.5: 1,
         52.6: 20,
         52.8: 11,
         52.9: 4,
         53.1: 2,
         53.2: 6,
         53.3: 1,
         53.4: 10,
         53.6: 1,
         53.7: 19,
         53.8: 1,
         53.9: 12,
         54.0: 8,
         54.1: 29,
         54.2: 101,
         54.3: 3,
         54.4: 8,
         54.5: 1,
         54.7: 10,
         54.8: 66,
         54.9: 118,
         55.1: 108,
         55.2: 24,
         55.3: 13,
         55.4: 11,
         55.6: 22,
         55.7: 58,
         55.8: 44,
         55.9: 29,
         56.0: 94,
         56.1: 25,
         56.2: 15,
         56.3: 25,
         56.4: 46,
         56.5: 27,
         56.6: 25,
         56.7: 6,
         56.8: 67,
         56.9: 41,
         57.0: 3,
         57.1: 13,
         57.2: 67,
         57.3: 6,
         57.4: 5,
         57.5: 19,
         57.6: 23,
         57.7: 16,
         57.9: 43,
         58.0: 50,
         58.2: 15,
         58.3: 20,
         58.4: 13,
         58.5: 3,
         58.6: 4,
         58.7: 43,
         58.9: 28,
         59.0: 4,
         59.1: 80,
         59.2: 41,
         59.3: 1,
         59.4: 76,
         59.5: 21,
         59.6: 133,
         59.7: 37,
         59.8: 5,
         59.9: 20,
         60.0: 20,
         60.1: 15,
         60.2: 60,
         60.3: 1,
         60.4: 5,
         60.5: 15,
         60.6: 35,
         60.7: 3,
         60.8: 39,
         60.9: 55,
         61.0: 3,
         61.1: 49,
         61.2: 8,
         61.3: 34,
         61.4: 6,
         61.5: 51,
         61.6: 38,
         61.7: 14,
         61.8: 1,
         61.9: 6,
         62.0: 9,
         62.1: 8,
         62.2: 3,
         62.3: 8,
         62.4: 4,
         62.5: 17,
         62.6: 19,
         62.7: 28,
         62.8: 1,
         62.9: 141,
         63.0: 18,
         63.1: 32,
         63.3: 2,
         63.4: 17,
         63.5: 10,
         63.6: 18,
         63.8: 16,
         63.9: 6,
         64.0: 17,
         64.1: 84,
         64.3: 19,
         64.4: 44,
         64.6: 50,
         64.7: 1,
         64.8: 24,
         64.9: 5,
         65.0: 39,
         65.1: 6,
         65.3: 13,
         65.4: 11,
         65.5: 7,
         65.6: 13,
         65.8: 5,
         66.0: 1,
         66.1: 28,
         66.3: 15,
         66.5: 25,
         66.6: 1,
         66.7: 6,
         67.0: 8,
         67.1: 34,
         67.2: 12,
         67.4: 1,
         67.5: 15,
         67.6: 26,
         67.8: 5,
         67.9: 10,
         68.0: 55,
         68.1: 32,
         68.2: 18,
         68.3: 12,
         68.4: 1,
         68.5: 2,
         68.6: 25,
         68.7: 1,
         68.8: 21,
         68.9: 12,
         69.0: 31,
         69.1: 35,
         69.2: 3,
         69.3: 44,
         69.4: 11,
         69.5: 6,
         69.6: 3,
         69.8: 4,
         69.9: 5,
         70.0: 23,
         70.2: 21,
         70.4: 51,
         70.5: 2,
         70.6: 8,
         70.7: 8,
         70.9: 89,
         71.0: 33,
         71.1: 53,
         71.2: 4,
         71.5: 1,
         71.6: 1,
         71.8: 16,
         71.9: 5,
         72.0: 1,
         72.1: 18,
         72.3: 2,
         72.4: 13,
         72.5: 8,
         72.6: 5,
         72.8: 4,
         72.9: 21,
         73.1: 1,
         73.2: 5,
         73.3: 4,
         73.4: 85,
         73.5: 5,
         73.6: 4,
         73.7: 47,
         73.8: 2,
         73.9: 3,
         74.1: 44,
         74.4: 2,
         74.5: 12,
         74.6: 1,
         75.0: 32,
         75.1: 6,
         75.2: 26,
         75.3: 10,
         75.5: 44,
         75.6: 2,
         75.7: 32,
         75.8: 26,
         75.9: 1,
         76.0: 4,
         76.1: 7,
         76.2: 6,
         76.4: 8,
         76.5: 72,
         76.7: 13,
         76.8: 8,
         76.9: 11,
         77.1: 10,
         77.2: 6,
         77.3: 24,
         77.4: 26,
         77.5: 72,
         77.6: 11,
         77.8: 78,
         77.9: 25,
         78.0: 18,
         78.1: 1,
         78.2: 1,
         78.3: 57,
         78.4: 18,
         78.8: 23,
         78.9: 4,
         79.3: 24,
         79.4: 2,
         79.5: 3,
         79.8: 8,
         79.9: 37,
         80.3: 9,
         80.4: 4,
         80.5: 61,
         80.6: 3,
         80.7: 11,
         80.8: 1,
         80.9: 23,
         81.0: 11,
         81.1: 17,
         81.2: 2,
         81.3: 18,
         81.4: 18,
         81.5: 41,
         81.9: 16,
         82.3: 1,
         82.4: 2,
         82.5: 9,
         82.6: 10,
         82.9: 21,
         83.0: 20,
         83.1: 52,
         83.2: 39,
         83.6: 19,
         83.7: 64,
         84.0: 26,
         84.1: 6,
         84.2: 18,
         84.3: 52,
         84.4: 5,
         84.9: 24,
         85.1: 31,
         85.2: 10,
         85.3: 16,
         85.6: 8,
         85.8: 97,
         85.9: 5,
         86.0: 118,
         86.1: 47,
         86.2: 41,
         86.4: 128,
         86.5: 12,
         86.6: 2,
         86.7: 80,
         87.0: 31,
         87.2: 14,
         87.3: 5,
         87.4: 83,
         87.5: 106,
         87.6: 14,
         87.9: 70,
         88.0: 54,
         88.2: 22,
         88.4: 12,
         88.5: 5,
         88.6: 9,
         88.7: 56,
         88.8: 59,
         88.9: 2,
         89.0: 50,
         89.1: 11,
         89.2: 25,
         89.3: 1,
         89.4: 11,
         89.6: 2,
         89.7: 44,
         89.9: 27,
         90.2: 50,
         90.3: 79,
         90.9: 6,
         91.8: 85,
         92.1: 2,
         92.2: 39,
         92.5: 19,
         92.6: 58,
         93.0: 68,
         93.1: 20,
         93.2: 11,
         93.4: 98,
         94.1: 77,
         94.3: 17,
         94.4: 93,
         94.7: 97,
         94.8: 1,
         95.1: 20,
         95.4: 43,
         95.7: 3,
         95.9: 1,
         96.4: 15,
         96.6: 37,
         96.9: 6,
         97.4: 18,
         97.6: 2,
         99.0: 1})

##### It appears that there may be School == 1; perhaps it may be military soldiers or farmers area.

In [14]:
train_data_before_clean[train_data_before_clean.Census_Vacancy == 0][['rent','HomePrice','yearbuilt']].\
groupby('yearbuilt').agg('count').sort_values(by='rent',ascending=False).rename(index=str,columns={'rent':'count'}).\
reset_index()[['yearbuilt','count']].head()

  yearbuilt  count
0      1960     58
1      1900      2
2      1921      2
3      1950      2
4      2014      2

##### It appears that there may be Census_Vacancy == 0; perhaps it may be military soldiers or farmers area.

In [15]:
train_data_before_clean['rent_per_bed'] = train_data_before_clean.rent/ train_data_before_clean.bed

train_data_before_clean['rent_per_bed'].describe()

count    18203.000000
mean       664.040346
std        382.407154
min        100.000000
25%        416.666667
50%        550.000000
75%        785.000000
max       3950.000000
Name: rent_per_bed, dtype: float64

In [16]:
Counter(train_data_before_clean[train_data_before_clean.Crime_Rate == 0]['yearbuilt'])

Counter({1970: 3,
         1960: 122,
         2016: 1,
         1981: 1,
         2005: 1,
         2008: 3,
         2010: 1,
         2004: 3,
         2007: 1,
         2001: 1,
         1979: 2,
         1977: 1,
         1999: 1,
         1991: 2,
         2006: 2,
         1870: 3,
         2015: 3,
         1837: 1,
         1852: 1,
         1987: 1,
         1986: 1,
         1909: 1,
         1875: 1,
         2000: 1,
         1990: 2,
         1971: 1,
         1962: 1,
         1996: 1,
         1954: 1,
         1950: 1,
         2002: 1,
         1988: 2,
         1890: 1,
         1929: 1,
         1900: 3,
         1910: 2,
         1930: 1,
         1920: 2,
         1985: 1,
         1976: 1,
         1948: 1})

In [17]:
train_data_before_clean[train_data_before_clean.Crime_Rate == 0].property_type.unique()

array(['SFR', 'Condo', 'Duplex', nan], dtype=object)

##### It is again possible that it may be an farmer or military population. It may also happen that high rent place where securities are available like Quadplex and Triplex

In [18]:
train_data_before_clean.Census_MedianIncome.describe()

count     18203.000000
mean      57076.140365
std       23873.065621
min           0.000000
25%       41040.665000
50%       54476.090000
75%       70379.790000
max      198425.570000
Name: Census_MedianIncome, dtype: float64

In [19]:
def printSkewness(df):
    for c in list(df.select_dtypes(include=[np.number])):
        if df[c].skew() < -1 or df[c].skew() > 1:
            print("Skewness of",c,"is : ",df[c].skew()," and kurtosis : ",df[c].kurtosis())
printSkewness(train_data_before_clean)

Skewness of rent is :  3.3911691179387486  and kurtosis :  23.946087081275245
Skewness of latitude is :  -7.377510560987899  and kurtosis :  121.33405915002778
Skewness of longitude is :  -6.039359592984169  and kurtosis :  42.61646856026069
Skewness of cemetery_dist_miles is :  3.6306801808444065  and kurtosis :  18.9060074977957
Skewness of nationalhighway_miles is :  5.069967671920754  and kurtosis :  39.01139732042393
Skewness of railline_miles is :  5.645942204220113  and kurtosis :  54.54493569656745
Skewness of starbucks_miles is :  7.5884687838318055  and kurtosis :  85.09366875632581
Skewness of walmart_miles is :  2.3347694041664875  and kurtosis :  11.405607865813925
Skewness of hospital_miles is :  3.854622402708077  and kurtosis :  21.527097922521413
Skewness of physician_dist_miles is :  6.238265378612465  and kurtosis :  54.822025807746826
Skewness of dentist_dist_miles is :  5.201221007225711  and kurtosis :  39.692131623932696
Skewness of opt_dist_miles is :  5.580454217365694  and kurtosis :  46.58369239334035
Skewness of vet_dist_miles is :  3.28217699297217  and kurtosis :  12.142355291817967
Skewness of farmers_miles is :  3.9202704214024493  and kurtosis :  25.565908934278845
Skewness of bed is :  1.9259960152571531  and kurtosis :  8.601247402876666
Skewness of bath is :  2.5410337621716454  and kurtosis :  13.29462640928042
Skewness of halfbath is :  16.036407716987814  and kurtosis :  517.5660750502018
Skewness of sqft is :  1.5859065680943367  and kurtosis :  2.806957173162515
Skewness of pool is :  9.263943856543358  and kurtosis :  83.82986632016919
Skewness of fireplace is :  1.4419498389264844  and kurtosis :  0.07922803084978325
Skewness of patio is :  1.5233229009033984  and kurtosis :  0.32054786757946463
Skewness of lotsize is :  2.1494231512917303  and kurtosis :  5.084197233667691
Skewness of EmploymentDiversity is :  -1.5063424841051483  and kurtosis :  3.100506313433754
Skewness of Census_Vacancy is :  1.3081243457530685  and kurtosis :  1.6669721197663554
Skewness of Crime_Rate is :  1.3591172811622614  and kurtosis :  0.9453313590622767
Skewness of HomePrice is :  22.996477654011045  and kurtosis :  883.1330507531168
Skewness of rent_per_bed is :  2.1187765362541064  and kurtosis :  6.4847091571371696

##### let us see the feasibility of dropping the lotsize by searching if there is a high co relation feature to it.

In [20]:
def printCorr (df, lowerLimit = .7):
    corr_df = df.corr()

    for c in list(corr_df):
        temp_df = corr_df[(corr_df[c].abs() > .7) & (corr_df[c].abs() < 1) ]
        if not temp_df.empty:
            print(temp_df[c], "\n\n")
printCorr(train_data_before_clean)

dentist_dist_miles    0.741940
opt_dist_miles        0.721298
Name: physician_dist_miles, dtype: float64


physician_dist_miles    0.741940
opt_dist_miles          0.801435
Name: dentist_dist_miles, dtype: float64


physician_dist_miles    0.721298
dentist_dist_miles      0.801435
Name: opt_dist_miles, dtype: float64


WhiteCollar    0.916561
Name: CollegeGrads, dtype: float64


CollegeGrads    0.916561
Name: WhiteCollar, dtype: float64

##### Shall we drop CollegeGrads , physician_dist_miles   &  opt_dist_miles  ??

# 3. Cleaning

##### https://datascience.stackexchange.com/questions/13567/ways-to-deal-with-longitude-latitude-feature
Lat long coordinates have a problem that they are 2 features that represent a three dimensional space. This means that the long coordinate goes all around, which means the two most extreme values are actually very close together. I've dealt with this problem a few times and what I do in this case is map them to x, y and z coordinates. This means close points in these 3 dimensions are also close in reality. Depending on the use case you can disregard the changes in height and map them to a perfect sphere. These features can then be standardized properly.

To clarify (summarised from the comments):

##### x = cos(lat) x cos(lon)
##### y = cos(lat) x sin(lon), 
##### z = sin(lat) 

##### we can map longitude and lattitude to a address [http://www.geonames.org/maps/us-reverse-geocoder.html#findNearestAddress]
##### vice versa can be done at https://www.latlong.net/
##### Therefore, we can ignore the features: Zipcode, county, address

In [65]:
def removeDuplicate(df):
    
    print('Initial df size', df.shape)
    
    print('Duplicates size', df[df.duplicated()].shape)
    
    print('NaN columns :', df.columns[df.isna().any()].tolist())
    
    df = df.fillna('NA')
    print('NaN columns (post fillna):', df.columns[df.isna().any()].tolist())
    print('Duplicates size (post fillna)', df[df.duplicated()].shape)
    
       
    key_columns = [x for x in list(df) if x != 'time']
    print("Duplicates without considering *time* feature : ", df[df.duplicated(key_columns)].shape)
    df = df.sort_values(by='time', ascending=False).reset_index(drop=True)
    
    df = df.drop_duplicates(key_columns,keep='first').reset_index(drop=True)
    df = df.drop_duplicates()
    
    print("Post duplicates removal data set size : ", df.shape)
    
    return df
    
df = removeDuplicate(train_data_before_clean)

print("\n")
printCorr(df)
printSkewness(df)

Initial df size (18203, 41)
Duplicates size (60, 41)
NaN columns : ['county', 'zipcode', 'address', 'property_type']
NaN columns (post fillna): []
Duplicates size (post fillna) (60, 41)
Duplicates without considering *time* feature :  (123, 41)
Post duplicates removal data set size :  (18080, 41)


dentist_dist_miles    0.742074
opt_dist_miles        0.719750
Name: physician_dist_miles, dtype: float64


physician_dist_miles    0.742074
opt_dist_miles          0.802566
Name: dentist_dist_miles, dtype: float64


physician_dist_miles    0.719750
dentist_dist_miles      0.802566
Name: opt_dist_miles, dtype: float64


WhiteCollar    0.916674
Name: CollegeGrads, dtype: float64


CollegeGrads    0.916674
Name: WhiteCollar, dtype: float64


Skewness of rent is :  3.2828188250586843  and kurtosis :  22.050933104666207
Skewness of latitude is :  -7.359591755027664  and kurtosis :  120.69225402676179
Skewness of longitude is :  -6.025876438056323  and kurtosis :  42.38006802690317
Skewness of cemetery_dist_miles is :  3.6276163912464106  and kurtosis :  18.87280341782669
Skewness of nationalhighway_miles is :  5.067429131679487  and kurtosis :  39.02265466164797
Skewness of railline_miles is :  5.658176607913345  and kurtosis :  54.70843738865075
Skewness of starbucks_miles is :  7.612038519465133  and kurtosis :  85.58541130504577
Skewness of walmart_miles is :  2.338369014083643  and kurtosis :  11.446519070108472
Skewness of hospital_miles is :  3.855556897269601  and kurtosis :  21.541951912510864
Skewness of physician_dist_miles is :  6.242871554724308  and kurtosis :  54.98638707729042
Skewness of dentist_dist_miles is :  5.213128721028649  and kurtosis :  39.850161333060356
Skewness of opt_dist_miles is :  5.55585103059055  and kurtosis :  46.1916415848372
Skewness of vet_dist_miles is :  3.302054838053079  and kurtosis :  12.311393573945026
Skewness of farmers_miles is :  3.9343594153093093  and kurtosis :  25.814731565391533
Skewness of bed is :  1.933288132785876  and kurtosis :  8.659867650697192
Skewness of bath is :  2.539364716630268  and kurtosis :  13.300658379357381
Skewness of halfbath is :  16.212494502467347  and kurtosis :  529.5194394734847
Skewness of sqft is :  1.585344466605335  and kurtosis :  2.811326953926342
Skewness of pool is :  9.278452420001733  and kurtosis :  84.09898228282147
Skewness of fireplace is :  1.442143333810732  and kurtosis :  0.0797862089255088
Skewness of patio is :  1.5192702595261707  and kurtosis :  0.3082162039564098
Skewness of lotsize is :  2.1515471504256922  and kurtosis :  5.088764079824001
Skewness of EmploymentDiversity is :  -1.506298800085335  and kurtosis :  3.09474918463591
Skewness of Census_Vacancy is :  1.3030042891151972  and kurtosis :  1.6307096954790388
Skewness of Crime_Rate is :  1.3622919901467754  and kurtosis :  0.9570771723799818
Skewness of HomePrice is :  21.628326380511155  and kurtosis :  841.7947961600818
Skewness of rent_per_bed is :  2.101499256533077  and kurtosis :  6.308532919757694

In [66]:
def removeOutlier(df):
    print("\nShape of the data set before to outlier removal : ", df.shape)
    df = df[df.Census_MedianIncome != 0]
    print("Shape of the data set after outlier removal : ", df.shape)
    print()
    
    return df
    
removeOutlier(df).info()

Shape of the data set before to outlier removal :  (18080, 41)
Shape of the data set after outlier removal :  (18079, 41)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18079 entries, 0 to 18079
Data columns (total 41 columns):
county                   18079 non-null object
city                     18079 non-null object
zipcode                  18079 non-null object
address                  18079 non-null object
state                    18079 non-null object
rent                     18079 non-null int64
latitude                 18079 non-null float64
longitude                18079 non-null float64
cemetery_dist_miles      18079 non-null float64
nationalhighway_miles    18079 non-null float64
railline_miles           18079 non-null float64
starbucks_miles          18079 non-null float64
walmart_miles            18079 non-null float64
hospital_miles           18079 non-null float64
physician_dist_miles     18079 non-null float64
dentist_dist_miles       18079 non-null float64
opt_dist_miles           18079 non-null float64
vet_dist_miles           18079 non-null float64
farmers_miles            18079 non-null float64
time                     18079 non-null float64
bed                      18079 non-null int64
bath                     18079 non-null int64
halfbath                 18079 non-null int64
sqft                     18079 non-null int64
property_type            18079 non-null object
garage                   18079 non-null int64
yearbuilt                18079 non-null int64
pool                     18079 non-null int64
fireplace                18079 non-null int64
patio                    18079 non-null int64
lotsize                  18079 non-null float64
Census_MedianIncome      18079 non-null float64
CollegeGrads             18079 non-null float64
WhiteCollar              18079 non-null float64
Schools                  18079 non-null float64
Unemployment             18079 non-null float64
EmploymentDiversity      18079 non-null float64
Census_Vacancy           18079 non-null float64
Crime_Rate               18079 non-null float64
HomePrice                18079 non-null int64
rent_per_bed             18079 non-null float64
dtypes: float64(24), int64(11), object(6)
memory usage: 5.8+ MB

In [67]:
def dropCorrelatedFeatures(df):
    print("\nShape of the data set before dropping co-related features : ", df.shape)
    df = df.drop(['CollegeGrads','physician_dist_miles','opt_dist_miles'],axis=1)
    print("Shape of the data set post dropping co-related features : ", df.shape)
    print()
    return df
(dropCorrelatedFeatures(df)).info()

Shape of the data set before dropping co-related features :  (18080, 41)
Shape of the data set post dropping co-related features :  (18080, 38)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18080 entries, 0 to 18079
Data columns (total 38 columns):
county                   18080 non-null object
city                     18080 non-null object
zipcode                  18080 non-null object
address                  18080 non-null object
state                    18080 non-null object
rent                     18080 non-null int64
latitude                 18080 non-null float64
longitude                18080 non-null float64
cemetery_dist_miles      18080 non-null float64
nationalhighway_miles    18080 non-null float64
railline_miles           18080 non-null float64
starbucks_miles          18080 non-null float64
walmart_miles            18080 non-null float64
hospital_miles           18080 non-null float64
dentist_dist_miles       18080 non-null float64
vet_dist_miles           18080 non-null float64
farmers_miles            18080 non-null float64
time                     18080 non-null float64
bed                      18080 non-null int64
bath                     18080 non-null int64
halfbath                 18080 non-null int64
sqft                     18080 non-null int64
property_type            18080 non-null object
garage                   18080 non-null int64
yearbuilt                18080 non-null int64
pool                     18080 non-null int64
fireplace                18080 non-null int64
patio                    18080 non-null int64
lotsize                  18080 non-null float64
Census_MedianIncome      18080 non-null float64
WhiteCollar              18080 non-null float64
Schools                  18080 non-null float64
Unemployment             18080 non-null float64
EmploymentDiversity      18080 non-null float64
Census_Vacancy           18080 non-null float64
Crime_Rate               18080 non-null float64
HomePrice                18080 non-null int64
rent_per_bed             18080 non-null float64
dtypes: float64(21), int64(11), object(6)
memory usage: 5.4+ MB

In [68]:
def getDummiesForBooleanFeatures(df):
    print("\nShape of the data set before creating dummies : ", df.shape)
    
    df.garage = df.garage.apply(lambda x: 'garage_yes' if x == 0 else 'garage_no' )
    df.pool = df.pool.apply(lambda x: 'pool_yes' if x == 0 else 'pool_no' )
    df.fireplace = df.fireplace.apply(lambda x: 'fireplace_yes' if x == 0 else 'fireplace_no' )
    df.patio = df.patio.apply(lambda x: 'patio_yes' if x == 0 else 'patio_no' )
    
    categorical_columns = ['garage', 'pool', 'fireplace', 'patio']
    for c in categorical_columns:
        temp = pd.get_dummies(df[c])
        df[temp.columns] = temp
    df = df.drop(categorical_columns, axis=1)
    
    print("Shape of the data set post creating dummies : ", df.shape)
    print()
    return df
getDummiesForBooleanFeatures(df).info()

Shape of the data set before creating dummies :  (18080, 41)
Shape of the data set post creating dummies :  (18080, 45)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18080 entries, 0 to 18079
Data columns (total 45 columns):
county                   18080 non-null object
city                     18080 non-null object
zipcode                  18080 non-null object
address                  18080 non-null object
state                    18080 non-null object
rent                     18080 non-null int64
latitude                 18080 non-null float64
longitude                18080 non-null float64
cemetery_dist_miles      18080 non-null float64
nationalhighway_miles    18080 non-null float64
railline_miles           18080 non-null float64
starbucks_miles          18080 non-null float64
walmart_miles            18080 non-null float64
hospital_miles           18080 non-null float64
physician_dist_miles     18080 non-null float64
dentist_dist_miles       18080 non-null float64
opt_dist_miles           18080 non-null float64
vet_dist_miles           18080 non-null float64
farmers_miles            18080 non-null float64
time                     18080 non-null float64
bed                      18080 non-null int64
bath                     18080 non-null int64
halfbath                 18080 non-null int64
sqft                     18080 non-null int64
property_type            18080 non-null object
yearbuilt                18080 non-null int64
lotsize                  18080 non-null float64
Census_MedianIncome      18080 non-null float64
CollegeGrads             18080 non-null float64
WhiteCollar              18080 non-null float64
Schools                  18080 non-null float64
Unemployment             18080 non-null float64
EmploymentDiversity      18080 non-null float64
Census_Vacancy           18080 non-null float64
Crime_Rate               18080 non-null float64
HomePrice                18080 non-null int64
rent_per_bed             18080 non-null float64
garage_no                18080 non-null uint8
garage_yes               18080 non-null uint8
pool_no                  18080 non-null uint8
pool_yes                 18080 non-null uint8
fireplace_no             18080 non-null uint8
fireplace_yes            18080 non-null uint8
patio_no                 18080 non-null uint8
patio_yes                18080 non-null uint8
dtypes: float64(24), int64(7), object(6), uint8(8)
memory usage: 5.4+ MB

In [70]:
def preProcessTheData(df):
    print("Shape of the data set before transforming : ", df.shape)
    
    #remove unncessary features
    df = df.drop(['zipcode','county','address','city','state'],axis=1)
    
    #transform longitude and latitude as discussed earlier
    df['x'] = df.latitude.apply(lambda x: math.cos(x)) * df.longitude.apply(lambda x : math.cos(x))
    df['y'] = df.latitude.apply(lambda x: math.cos(x)) * df.longitude.apply(lambda x : math.sin(x))
    df['z'] = df.latitude.apply(lambda x: math.sin(x))
    df = df.drop(['longitude','latitude'],axis=1)
    
    #get dummies for categorical features
    categorical_columns = ['time', 'property_type']
    for c in categorical_columns:
        temp = pd.get_dummies(df[c])
        df[temp.columns] = temp
    df = df.drop(categorical_columns, axis=1)
    
    print("Shape of the data set after transforming : ", df.shape,"\n")
    return df

preProcessTheData(removeOutlier(removeDuplicate(readtheTrainData('TrainData_PA.csv')))).info()

Initial df size (18203, 40)
Duplicates size (60, 40)
NaN columns : ['county', 'zipcode', 'address', 'property_type']
NaN columns (post fillna): []
Duplicates size (post fillna) (60, 40)
Duplicates without considering *time* feature :  (123, 40)
Post duplicates removal data set size :  (18080, 40)

Shape of the data set before to outlier removal :  (18080, 40)
Shape of the data set after outlier removal :  (18079, 40)

Shape of the data set before transforming :  (18079, 40)
Shape of the data set after transforming :  (18079, 44)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18079 entries, 0 to 18079
Data columns (total 44 columns):
rent                     18079 non-null int64
cemetery_dist_miles      18079 non-null float64
nationalhighway_miles    18079 non-null float64
railline_miles           18079 non-null float64
starbucks_miles          18079 non-null float64
walmart_miles            18079 non-null float64
hospital_miles           18079 non-null float64
physician_dist_miles     18079 non-null float64
dentist_dist_miles       18079 non-null float64
opt_dist_miles           18079 non-null float64
vet_dist_miles           18079 non-null float64
farmers_miles            18079 non-null float64
bed                      18079 non-null int64
bath                     18079 non-null int64
halfbath                 18079 non-null int64
sqft                     18079 non-null int64
garage                   18079 non-null int64
yearbuilt                18079 non-null int64
pool                     18079 non-null int64
fireplace                18079 non-null int64
patio                    18079 non-null int64
lotsize                  18079 non-null float64
Census_MedianIncome      18079 non-null float64
CollegeGrads             18079 non-null float64
WhiteCollar              18079 non-null float64
Schools                  18079 non-null float64
Unemployment             18079 non-null float64
EmploymentDiversity      18079 non-null float64
Census_Vacancy           18079 non-null float64
Crime_Rate               18079 non-null float64
HomePrice                18079 non-null int64
x                        18079 non-null float64
y                        18079 non-null float64
z                        18079 non-null float64
2015.25                  18079 non-null uint8
2015.5                   18079 non-null uint8
2015.75                  18079 non-null uint8
2016.25                  18079 non-null uint8
Condo                    18079 non-null uint8
Duplex                   18079 non-null uint8
NA                       18079 non-null uint8
Quadplex                 18079 non-null uint8
SFR                      18079 non-null uint8
Triplex                  18079 non-null uint8
dtypes: float64(23), int64(11), uint8(10)
memory usage: 5.0 MB

In [71]:
def scaleMinMax(df):
    print("\nShape of the data set before min max scaling : ",df.shape)
    minMax = preprocessing.MinMaxScaler(feature_range=(.0001, 1))
    np_scaled = minMax.fit_transform(df)
    df_scaled = pd.DataFrame(np_scaled,columns=df.columns)
    print("\nShape of the data set post min max scaling : ",df_scaled.shape)
    return df_scaled

#scaleMinMax(df[df.columns.isin(list(df.select_dtypes(include=[np.number])))])
scaleMinMax(df[list(df.select_dtypes(include=[np.number]))]).info()

Shape of the data set before min max scaling :  (18080, 39)

Shape of the data set post min max scaling :  (18080, 39)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18080 entries, 0 to 18079
Data columns (total 39 columns):
rent                     18080 non-null float64
latitude                 18080 non-null float64
longitude                18080 non-null float64
cemetery_dist_miles      18080 non-null float64
nationalhighway_miles    18080 non-null float64
railline_miles           18080 non-null float64
starbucks_miles          18080 non-null float64
walmart_miles            18080 non-null float64
hospital_miles           18080 non-null float64
physician_dist_miles     18080 non-null float64
dentist_dist_miles       18080 non-null float64
opt_dist_miles           18080 non-null float64
vet_dist_miles           18080 non-null float64
farmers_miles            18080 non-null float64
time                     18080 non-null float64
bed                      18080 non-null float64
bath                     18080 non-null float64
halfbath                 18080 non-null float64
sqft                     18080 non-null float64
yearbuilt                18080 non-null float64
lotsize                  18080 non-null float64
Census_MedianIncome      18080 non-null float64
CollegeGrads             18080 non-null float64
WhiteCollar              18080 non-null float64
Schools                  18080 non-null float64
Unemployment             18080 non-null float64
EmploymentDiversity      18080 non-null float64
Census_Vacancy           18080 non-null float64
Crime_Rate               18080 non-null float64
HomePrice                18080 non-null float64
rent_per_bed             18080 non-null float64
garage_no                18080 non-null float64
garage_yes               18080 non-null float64
pool_no                  18080 non-null float64
pool_yes                 18080 non-null float64
fireplace_no             18080 non-null float64
fireplace_yes            18080 non-null float64
patio_no                 18080 non-null float64
patio_yes                18080 non-null float64
dtypes: float64(39)
memory usage: 5.4 MB

In [72]:
def boxCoxTranformation(df):
    
    #assuming that only numerical features are presented
    
    print("Shape of the dataset before transformation : ", df.shape)
    
    print("Ignoring the columns....",list(df.select_dtypes(exclude=[np.number])))
    temp_df = df[list(df.select_dtypes(include=[np.number]))]
    print("Performing column transformations for :", list(temp_df) )
    
    #converting to positive for boxcox
    df_min_max = scaleMinMax(temp_df)
    #print(df_min_max)
    df_new = pd.DataFrame()
    for c in list(df_min_max):
        #print(c,df_min_max[c])
        temp_col_ser = df_min_max[c]
        #print(df_min_max[c].sort_values()[:5])
        #print(stats.boxcox(temp_col_ser)[0])
        df_new[c] = stats.boxcox(df_min_max[c])[0]
    
    print("Shape of the dataset after transformation : ", df_new.shape)
    return df_new
boxCoxTranformation(removeOutlier(removeDuplicate(readtheTrainData('TrainData_PA.csv')))).info()

Initial df size (18203, 40)
Duplicates size (60, 40)
NaN columns : ['county', 'zipcode', 'address', 'property_type']
NaN columns (post fillna): []
Duplicates size (post fillna) (60, 40)
Duplicates without considering *time* feature :  (123, 40)
Post duplicates removal data set size :  (18080, 40)

Shape of the data set before to outlier removal :  (18080, 40)
Shape of the data set after outlier removal :  (18079, 40)

Shape of the dataset before transformation :  (18079, 40)
Ignoring the columns.... ['county', 'city', 'zipcode', 'address', 'state', 'property_type']
Performing column transformations for : ['rent', 'latitude', 'longitude', 'cemetery_dist_miles', 'nationalhighway_miles', 'railline_miles', 'starbucks_miles', 'walmart_miles', 'hospital_miles', 'physician_dist_miles', 'dentist_dist_miles', 'opt_dist_miles', 'vet_dist_miles', 'farmers_miles', 'time', 'bed', 'bath', 'halfbath', 'sqft', 'garage', 'yearbuilt', 'pool', 'fireplace', 'patio', 'lotsize', 'Census_MedianIncome', 'CollegeGrads', 'WhiteCollar', 'Schools', 'Unemployment', 'EmploymentDiversity', 'Census_Vacancy', 'Crime_Rate', 'HomePrice']

Shape of the data set before min max scaling :  (18079, 34)

Shape of the data set post min max scaling :  (18079, 34)
Shape of the dataset after transformation :  (18079, 34)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18079 entries, 0 to 18078
Data columns (total 34 columns):
rent                     18079 non-null float64
latitude                 18079 non-null float64
longitude                18079 non-null float64
cemetery_dist_miles      18079 non-null float64
nationalhighway_miles    18079 non-null float64
railline_miles           18079 non-null float64
starbucks_miles          18079 non-null float64
walmart_miles            18079 non-null float64
hospital_miles           18079 non-null float64
physician_dist_miles     18079 non-null float64
dentist_dist_miles       18079 non-null float64
opt_dist_miles           18079 non-null float64
vet_dist_miles           18079 non-null float64
farmers_miles            18079 non-null float64
time                     18079 non-null float64
bed                      18079 non-null float64
bath                     18079 non-null float64
halfbath                 18079 non-null float64
sqft                     18079 non-null float64
garage                   18079 non-null float64
yearbuilt                18079 non-null float64
pool                     18079 non-null float64
fireplace                18079 non-null float64
patio                    18079 non-null float64
lotsize                  18079 non-null float64
Census_MedianIncome      18079 non-null float64
CollegeGrads             18079 non-null float64
WhiteCollar              18079 non-null float64
Schools                  18079 non-null float64
Unemployment             18079 non-null float64
EmploymentDiversity      18079 non-null float64
Census_Vacancy           18079 non-null float64
Crime_Rate               18079 non-null float64
HomePrice                18079 non-null float64
dtypes: float64(34)
memory usage: 4.7 MB

In [74]:
df =boxCoxTranformation(preProcessTheData(removeOutlier(removeDuplicate(readtheTrainData('TrainData_PA.csv')))))
printCorr(df)
printSkewness(df)
df.info()

Initial df size (18203, 40)
Duplicates size (60, 40)
NaN columns : ['county', 'zipcode', 'address', 'property_type']
NaN columns (post fillna): []
Duplicates size (post fillna) (60, 40)
Duplicates without considering *time* feature :  (123, 40)
Post duplicates removal data set size :  (18080, 40)

Shape of the data set before to outlier removal :  (18080, 40)
Shape of the data set after outlier removal :  (18079, 40)

Shape of the data set before transforming :  (18079, 40)
Shape of the data set after transforming :  (18079, 44)

Shape of the dataset before transformation :  (18079, 44)
Ignoring the columns.... []
Performing column transformations for : ['rent', 'cemetery_dist_miles', 'nationalhighway_miles', 'railline_miles', 'starbucks_miles', 'walmart_miles', 'hospital_miles', 'physician_dist_miles', 'dentist_dist_miles', 'opt_dist_miles', 'vet_dist_miles', 'farmers_miles', 'bed', 'bath', 'halfbath', 'sqft', 'garage', 'yearbuilt', 'pool', 'fireplace', 'patio', 'lotsize', 'Census_MedianIncome', 'CollegeGrads', 'WhiteCollar', 'Schools', 'Unemployment', 'EmploymentDiversity', 'Census_Vacancy', 'Crime_Rate', 'HomePrice', 'x', 'y', 'z', 2015.25, 2015.5, 2015.75, 2016.25, 'Condo', 'Duplex', 'NA', 'Quadplex', 'SFR', 'Triplex']

Shape of the data set before min max scaling :  (18079, 44)

Shape of the data set post min max scaling :  (18079, 44)
Shape of the dataset after transformation :  (18079, 44)
CollegeGrads      0.709943
Census_Vacancy   -0.726880
Name: Census_MedianIncome, dtype: float64


Census_MedianIncome    0.709943
WhiteCollar            0.942481
Name: CollegeGrads, dtype: float64


CollegeGrads    0.942481
Name: WhiteCollar, dtype: float64


Census_MedianIncome   -0.72688
Name: Census_Vacancy, dtype: float64


Skewness of halfbath is :  6.39618455684173  and kurtosis :  38.91548192102647
Skewness of pool is :  9.278186989378922  and kurtosis :  84.09405675214849
Skewness of fireplace is :  1.4424719148704608  and kurtosis :  0.08073414421356073
Skewness of patio is :  1.5196219181855624  and kurtosis :  0.3092849768238106
Skewness of 2015.5 is :  1.1057573438156354  and kurtosis :  -0.7773867076984229
Skewness of 2015.75 is :  1.397176228395842  and kurtosis :  -0.04790389844121634
Skewness of 2016.25 is :  1.8814470659743803  and kurtosis :  1.5400134147150166
Skewness of Duplex is :  2.8469211879354517  and kurtosis :  6.105635677616352
Skewness of NA is :  1.9769674958572545  and kurtosis :  1.9086116087196001
Skewness of Quadplex is :  14.934153912173516  and kurtosis :  nan
Skewness of Triplex is :  8.543280175685588  and kurtosis :  70.99549006588421
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18079 entries, 0 to 18078
Data columns (total 44 columns):
rent                     18079 non-null float64
cemetery_dist_miles      18079 non-null float64
nationalhighway_miles    18079 non-null float64
railline_miles           18079 non-null float64
starbucks_miles          18079 non-null float64
walmart_miles            18079 non-null float64
hospital_miles           18079 non-null float64
physician_dist_miles     18079 non-null float64
dentist_dist_miles       18079 non-null float64
opt_dist_miles           18079 non-null float64
vet_dist_miles           18079 non-null float64
farmers_miles            18079 non-null float64
bed                      18079 non-null float64
bath                     18079 non-null float64
halfbath                 18079 non-null float64
sqft                     18079 non-null float64
garage                   18079 non-null float64
yearbuilt                18079 non-null float64
pool                     18079 non-null float64
fireplace                18079 non-null float64
patio                    18079 non-null float64
lotsize                  18079 non-null float64
Census_MedianIncome      18079 non-null float64
CollegeGrads             18079 non-null float64
WhiteCollar              18079 non-null float64
Schools                  18079 non-null float64
Unemployment             18079 non-null float64
EmploymentDiversity      18079 non-null float64
Census_Vacancy           18079 non-null float64
Crime_Rate               18079 non-null float64
HomePrice                18079 non-null float64
x                        18079 non-null float64
y                        18079 non-null float64
z                        18079 non-null float64
2015.25                  18079 non-null float64
2015.5                   18079 non-null float64
2015.75                  18079 non-null float64
2016.25                  18079 non-null float64
Condo                    18079 non-null float64
Duplex                   18079 non-null float64
NA                       18079 non-null float64
Quadplex                 18079 non-null float64
SFR                      18079 non-null float64
Triplex                  18079 non-null float64
dtypes: float64(44)
memory usage: 6.1 MB

In [75]:
df.head()

,rent,cemetery_dist_miles,nationalhighway_miles,railline_miles,starbucks_miles,walmart_miles,hospital_miles,physician_dist_miles,dentist_dist_miles,opt_dist_miles,...,2015.25,2015.5,2015.75,2016.25,Condo,Duplex,NA,Quadplex,SFR,Triplex
0,-1.965950,-1.983336,-2.505237,-3.661331,-3.677427,-1.374147,-2.796557,-3.797105,-3.524654,-3.387719,...,-22.992479,-80.207641,-172.428898,0.0,0.000000,-50206.494484,-1093.425695,-5.692548e+96,-31.742351,-1.184771e+32
1,-2.964429,-1.983336,-2.505237,-3.661331,-3.677427,-1.374147,-2.796557,-3.797105,-3.524654,-3.387719,...,-22.992479,-80.207641,-172.428898,0.0,0.000000,-50206.494484,-1093.425695,-5.692548e+96,-31.742351,-1.184771e+32
2,-2.784630,-2.653594,-2.972199,-5.027029,-6.234656,-1.186219,-3.434071,-3.143872,-3.247478,-3.377358,...,-22.992479,-80.207641,-172.428898,0.0,-17.132913,-50206.494484,-1093.425695,-5.692548e+96,0.000000,-1.184771e+32
3,-3.196713,-1.922606,-2.460441,-3.930657,-2.609269,-1.277892,-2.062451,-1.301210,-1.810154,-1.955893,...,-22.992479,-80.207641,-172.428898,0.0,-17.132913,-50206.494484,-1093.425695,-5.692548e+96,0.000000,-1.184771e+32
4,-2.554276,-2.208123,-3.181549,-4.825136,-3.570923,-1.070731,-3.511698,-3.784503,-3.076798,-2.742492,...,-22.992479,-80.207641,-172.428898,0.0,0.000000,-50206.494484,-1093.425695,-5.692548e+96,-31.742351,-1.184771e+32

In [76]:
df.to_csv('TrainData_PA_cleansed',index=False)

In [324]:
def returnTrainTestSet(df,frac=.7,random_state=200):
    
    print("Input data set shape : ",df.shape)
    all_columns = set(df.columns)
    all_columns.discard('rent')
    feature_columns = list(all_columns)
    lable_column = 'rent'
    
    print("\nfeature_columns : ", feature_columns)
    print("lable_column : ", lable_column)
    
    df = scaleMinMax(df)
    
    df_train = df.sample(frac=frac,random_state=random_state)
    df_test = df.drop(df_train.index)
    print("\nTrain feature shape: ", df_train[feature_columns].shape, df_train[lable_column].shape)
    print("Test feature shape: ", df_test[feature_columns].shape, df_test[lable_column].shape)
    
    return df_train[feature_columns], df_train[lable_column], df_test[feature_columns], df_test[lable_column]
X_train, y_train, X_test, y_test = returnTrainTestSet(df)

Input data set shape :  (18079, 44)

feature_columns :  ['patio', 'Census_MedianIncome', 'pool', 'Duplex', 'physician_dist_miles', 'sqft', 'Condo', 'Unemployment', 'EmploymentDiversity', 'starbucks_miles', 'nationalhighway_miles', 'walmart_miles', 'cemetery_dist_miles', 'farmers_miles', 'bath', 'railline_miles', 'SFR', 'WhiteCollar', 'hospital_miles', 'halfbath', 'y', 'vet_dist_miles', 'bed', 'yearbuilt', 'opt_dist_miles', 'dentist_dist_miles', 'fireplace', 'Schools', 'garage', 'CollegeGrads', 'z', 2015.25, 2015.5, 2015.75, 2016.25, 'Triplex', 'Crime_Rate', 'Quadplex', 'NA', 'HomePrice', 'lotsize', 'Census_Vacancy', 'x']
lable_column :  rent

Shape of the data set before min max scaling :  (18079, 44)

Shape of the data set post min max scaling :  (18079, 44)

Train feature shape:  (12655, 43) (12655,)
Test feature shape:  (5424, 43) (5424,)

In [215]:
clf = DecisionTreeRegressor(max_depth=4)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5814329756484303

##### Manual trial and error method resulted in following reading :
###### (max_depth=3) : 0.5494546459120873
###### (max_depth=4) : 0.5814329756484303
###### (max_depth=5) : 0.5697837122502597
###### (max_depth=6) : 0.566588549926632
###### (max_depth=7) : 0.5493435534445739
###### (max_depth=8) : 0.5341133112176326
###### (max_depth=9) : 0.5159846446868466

In [216]:
clf.feature_importances_

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.63556239,
       0.        , 0.        , 0.02961113, 0.        , 0.        ,
       0.00514878, 0.        , 0.08885215, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.20063133,
       0.01677253, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02342168,
       0.        , 0.        , 0.        ])

In [319]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
clf = RandomForestRegressor(max_depth=4, n_estimators=500)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6245113157711104

##### Manual trial and error gave following results:
###### (max_depth=None) : 0.6392922870733752
###### (max_depth=3) : 0.5721141694756593
###### (max_depth=4) : 0.6269848309321449
###### (max_depth=5) : 0.6069183978911982
###### (max_depth=6) : 0.6173980247154297
###### (max_depth=7) : 
###### (max_depth=8) : 
###### (max_depth=9) :

clf = AdaBoostRegressor()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
from sklearn.model_selection import ShuffleSplit, cross_val_score

X,y = returnXy(train_data_cleansed_1)
cv = ShuffleSplit(n_splits=50, test_size=0.3, random_state=1986)
scores = cross_val_score(clf, X, y, cv=cv)

In [ ]:
import numpy as np
np.average(scores)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
#arr = pca.fit_transform(train_data_cleansed_1)
ttt = train_data_cleansed_1.drop('rent',axis=1)
#arr = pca.fit_transform(ttt)
arr = pca.fit_transform(X)

In [ ]:
df_plot = pd.DataFrame(arr)
df_plot.plot(0,1)

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(df_plot[df_plot.columns[0]],df_plot[df_plot.columns[1]])
plt.show()

from sklearn.model_selection import GridSearchCV
#parameters = {'max_depth':[2,3,4,5,6,7,8,9,10],}# 'min_samples_split':[2, 75]}
parameters = {'max_depth':list(range(2,15)), 'min_samples_split':list(range(5,100,5))}
Dtr = DecisionTreeRegressor()
clf = GridSearchCV(Dtr, parameters, cv=5,scoring='r2')
clf.fit(X, y)

##### clf.get_params()

clf.cv_results_['mean_test_score']

clf.best_estimator_

In [ ]:
#clf = RandomForestRegressor(n_estimators=100,max_depth=8,min_samples_split=20)
#clf = RandomForestRegressor(n_estimators=100,max_depth=8,min_samples_split=75)
clf = RandomForestRegressor(n_estimators=50,max_depth=9,min_samples_split=75)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
cv = ShuffleSplit(n_splits=10, test_size=0.3, random_state=50)
scores = cross_val_score(clf, X, y, cv=cv) 
scores

In [ ]:
#prepare test data
def testDataPreprocessing(df):
    df = df.drop(['zipcode','county','address','city','state'],axis=1)
    df['x'] = df.latitude.apply(lambda x: math.cos(x)) * \
                                                        df.longitude.apply(lambda x : math.cos(x))
    df['y'] = df.latitude.apply(lambda x: math.cos(x)) * \
                                                        df.longitude.apply(lambda x : math.sin(x))
    df['z'] = df.latitude.apply(lambda x: math.sin(x))
    df = df.drop(['longitude','latitude'],axis=1)
    
    df.garage = df.garage.apply(lambda x: 'garage_yes' if x == 0 else 'garage_no' )
    df.pool = df.pool.apply(lambda x: 'pool_yes' if x == 0 else 'pool_no' )
    df.fireplace = df.fireplace.apply(lambda x: 'fireplace_yes' if x == 0 else 'fireplace_no' )
    df.patio = df.patio.apply(lambda x: 'patio_yes' if x == 0 else 'patio_no' )
    categorical_columns = ['time', 'property_type', 'garage', 'pool', 'fireplace', 'patio']
    for c in categorical_columns:
        temp = pd.get_dummies(df[c])
        df[temp.columns] = temp
    df = df.drop(categorical_columns, axis=1)
    
    return returnXy(df)

print(clf)
test_X, test_y = testDataPreprocessing(test_data)
print(test_X.info())
clf.score(test_X, test_y)

In [ ]:
test_result = clf.predict(test_X)
test_result

In [334]:
def printStats(test_result,test_y):
    per_count=[]
    #print(test_result,test_y)
    test_y = np.array(test_y)
    for i in range(test_y.size):
        if test_y[i]:
            per_count.append(0)
        else:
            per_count.append(np.round(np.abs((test_result[i]- test_y[i])*100/test_y[i]),2))
    cnt = Counter(per_count)
    less_1 = less_2 = less_3 = less_4 = less_5 = 0
    for c in cnt:
        if c < 1:
            less_1 += cnt[c]
        if c < 2:
            less_2 += cnt[c]
        if c < 3:
            less_3 += cnt[c]
        if c < 4:
            less_4 += cnt[c]
        if c < 5 :
            less_5 += cnt[c]

    print(np.round((less_1*100/test_y.size),2),"% of properties within predicted rent within 1% of actual rent")
    print(np.round((less_2*100/test_y.size),2),"% of properties within predicted rent within 2% of actual rent")
    print(np.round((less_3*100/test_y.size),2),"% of properties within predicted rent within 3% of actual rent")
    print(np.round((less_4*100/test_y.size),2),"% of properties within predicted rent within 4% of actual rent")
    print(np.round((less_5*100/test_y.size),2),"% of properties within predicted rent within 5% of actual rent")
printStats(test_result,test_y)

NameError: name 'test_result' is not defined

In [320]:
'''sklearn.linear_model.SGDRegressor
sklearn.linear_model.Lasso 
sklearn.linear_model.ElasticNet
sklearn.linear_model.Ridge
sklearn.svm.SVR
sklearn.ensemble.AdaBoostRegressor
sklearn.ensemble.GradientBoostingRegressor
'''
from sklearn.linear_model import SGDRegressor, LassoCV, ElasticNetCV, RidgeCV
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor

clf_s = [SGDRegressor(), LassoCV(), ElasticNetCV(), RidgeCV(), AdaBoostRegressor(),GradientBoostingRegressor()]#, SVR(kernel='linear')]
for c in clf_s:
    c.fit(X_train, y_train)
    print(c,c.score(X_test, y_test))

C:\Users\padmaraj.bhat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=None, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False) 0.5433932377997952
LassoCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
    max_iter=1000, n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=None, selection='cyclic', tol=0.0001,
    verbose=False) 0.6440124642835834
ElasticNetCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
       l1_ratio=0.5, max_iter=1000, n_alphas=100, n_jobs=1,
       normalize=False, positive=False, precompute='auto',
       random_state=None, selection='cyclic', tol=0.0001, verbose=0) 0.6468827000289981
RidgeCV(alphas=(0.1, 1.0, 10.0), cv=None, fit_intercept=True, gcv_mode=None,
    normalize=False, scoring=None, store_cv_values=False) 0.6399228223044024
AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=50, random_state=None) 0.6579346681540403
GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False) 0.7337500536884456

In [321]:
clf_s[-1].score(test_X,test_y)

NameError: name 'test_X' is not defined

In [ ]:
printStats(clf_s[-1].predict(test_X),test_y)

In [ ]:
clf_g = GradientBoostingRegressor(max_depth=9, min_samples_split=75)
clf_g.fit(X_train,y_train)
printStats(clf_g.predict(test_X),test_y)

In [ ]:
clf_g = GradientBoostingRegressor(max_depth=8, min_samples_split=75)
clf_g.fit(X_train,y_train)
printStats(clf_g.predict(test_X),test_y)

In [ ]:
clf_g = GradientBoostingRegressor(max_depth=8, min_samples_split=50)
clf_g.fit(X_train,y_train)
printStats(clf_g.predict(test_X),test_y)

In [ ]:
clf_g = GradientBoostingRegressor(max_depth=9, min_samples_split=50)
clf_g.fit(X_train,y_train)
printStats(clf_g.predict(test_X),test_y)

In [ ]:
clf_g = GradientBoostingRegressor(n_estimators=500,max_depth=8, min_samples_split=50)
clf_g.fit(X_train,y_train)
printStats(clf_g.predict(test_X),test_y)

In [ ]:
clf_g = GradientBoostingRegressor(n_estimators=1500,max_depth=8, min_samples_split=50)
clf_g.fit(X_train,y_train)
printStats(clf_g.predict(test_X),test_y)

#### is best number of estimator between 500- 1500?

In [ ]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':list(range(200,1500,100)),}# 'min_samples_split':[2, 75]} parameters = {'max_depth':list(range(2,15)), 'min_samples_split':list(range(5,100,5))} 
clf_g = GradientBoostingRegressor(max_depth=8, min_samples_split=50)
clf_grid_g = GridSearchCV(clf_g, parameters, cv=5,scoring='r2')

In [ ]:
clf_grid_g.fit(X,y)

In [ ]:
clf_final = clf_grid_g.best_estimator_

In [ ]:
clf_grid_g.cv_results_['mean_test_score']

In [ ]:
clf_final.score(test_X,test_y)

In [ ]:
printStats(clf_final.predict(test_X),test_y)

##### Unfortunately, not conclusive, let us try XGBoost

In [335]:
from xgboost import XGBRegressor

my_model = XGBRegressor()#max_depth=8, n_estimators=500)
my_model.fit(X_train,y_train)
print(my_model.score(X_test,y_test))
printStats(my_model.predict(X_test),y_test)

0.7725393748835422
100.0 % of properties within predicted rent within 1% of actual rent
100.0 % of properties within predicted rent within 2% of actual rent
100.0 % of properties within predicted rent within 3% of actual rent
100.0 % of properties within predicted rent within 4% of actual rent
100.0 % of properties within predicted rent within 5% of actual rent

In [ ]:
printStats(my_model.predict(test_X),test_y)

3.13 % of properties within predicted rent within 1% of actual rent
5.73 % of properties within predicted rent within 2% of actual rent
8.53 % of properties within predicted rent within 3% of actual rent
11.88 % of properties within predicted rent within 4% of actual rent
14.88 % of properties within predicted rent within 5% of actual rent

In [ ]:
my_model_1 = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model_1.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)], verbose=False)

In [ ]:
printStats(my_model_1.predict(test_X),test_y)

In [ ]:
my_model_2 = XGBRegressor(max_depth=4, n_estimators=1000, learning_rate=0.05)
my_model_2.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)], verbose=False)
printStats(my_model_2.predict(test_X),test_y)

In [ ]:
my_model_2 = XGBRegressor(max_depth=7, n_estimators=1000, learning_rate=0.05)
my_model_2.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)], verbose=False)
printStats(my_model_2.predict(test_X),test_y)

In [ ]:
my_model_3 = XGBRegressor(max_depth=8, n_estimators=1000, learning_rate=0.05)
my_model_3.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)], verbose=False)
printStats(my_model_3.predict(test_X),test_y)

In [ ]:
my_model_4 = XGBRegressor(max_depth=9, n_estimators=1000, learning_rate=0.05)
my_model_4.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)], verbose=False)
printStats(my_model_4.predict(test_X),test_y)

In [ ]:
my_model_5 = XGBRegressor(max_depth=10, n_estimators=1000, learning_rate=0.05)
my_model_5.fit(X_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)], verbose=False)
printStats(my_model_5.predict(test_X),test_y)

In [ ]:
my_model_5 = XGBRegressor(max_depth=8, n_estimators=500, learning_rate=0.1)
#, eval_set=[(X_test, y_test)]
my_model_5.fit(X, y, verbose=True)
printStats(my_model_5.predict(test_X),test_y)

In [ ]:
my_model_5 = XGBRegressor(max_depth=9, n_estimators=500, learning_rate=0.1)
#, eval_set=[(X_test, y_test)]
my_model_5.fit(X, y, verbose=True)
printStats(my_model_5.predict(test_X),test_y)

In [ ]:
my_model_5

##### Let us see if the property type prediction helps in the prediction.

In [ ]:
final_predict_property_type = predict_property_type[predict_property_type.property_type.isna()]
train_predict_property_type = predict_property_type.dropna()
train_predict_property_type
print("Train Samples : ", train_predict_property_type.shape, " Test Samples : ",test_predict_property_type.shape )
print(train_predict_property_type.head(2))

In [ ]:
def returnXYforProperType(df):
    y = df['property_type']
    
    from sklearn import preprocessing
    le = preprocessing.LabelEncoder()
    le.fit(y)
    
    y= le.transform(y)
    
    X = df.copy()
    X = X.drop('property_type', axis=1)
    np_scaled = min_max_scaler.fit_transform(X)
    df_normalized = pd.DataFrame(np_scaled,columns=X.columns)
    return df_normalized,y

X_prop_train, y_prop_train = returnXYforProperType(train_predict_property_type)
#X_prop_predict, y_prop_predict = returnXYforProperType(final_predict_property_type)

'''clf_prop = DecisionTreeRegressor(max_depth=10, min_samples_split=50)
clf_prop.fit(X_prop_train[:-200],y_prop_train[:-200])
print(clf_prop.score(X_prop_train[-200:], y_prop_train[-200:])) #0.378002969525984'''

'''clf_rfr = RandomForestRegressor(n_estimators=500, max_depth=10, min_samples_split=50)
clf_rfr.fit(X_prop_train[:-200],y_prop_train[:-200])
clf_rfr.score(X_prop_train[-200:], y_prop_train[-200:])#0.3730836253361981'''

clf_xgbr = XGBRegressor(n_estimators=200, max_depth=10, min_samples_split=50)
clf_xgbr.fit(X_prop_train[:-200],y_prop_train[:-200])
clf_xgbr.score(X_prop_train[-200:], y_prop_train[-200:])#0.3730836253361981'''

##### It is not worth to impute based on prediction as the confidence of the prediction is not even 50%. We do not want to introduce outliers into our dataset. There is a reduction of 14.77% in dataset size due to ignoring samples with NaN values for 'property_type'.

In [ ]:
print("Reduction in the Dataset size due to rejecting samples of NaN values : ",np.round((train_data[train_data.property_type.isna()]).shape[0] * 100 / train_data.shape[0],2),"%")

In [ ]:
print(test_data[test_data.property_type.isna()].shape)
print(test_data.shape)
na_test_data = test_data[test_data.property_type.isna()]
na_train_X, na_train_y = testDataPreprocessing(na_test_data)
printStats(my_model_5.predict(na_train_X),na_train_y)

##### This is the serious problem !!!! we need to use mapper for this.

In [ ]:
print(test_data[test_data.property_type.isna()].shape)
print(test_data.shape)
na_test_data = test_data[test_data.property_type.isna()]
na_train_X, na_train_y = testDataPreprocessing(test_data)
print(na_train_X[test_data.property_type.isna()].shape, na_train_X.shape)
print(na_train_y[test_data.property_type.isna()].shape)
printStats(my_model_5.predict(na_train_X[test_data.property_type.isna()]),np.array(na_train_y[test_data.property_type.isna()]))

##### What does this mean is that sub sample of test data has lower scores. It may be lowering the overall output. Let us check if na values are removed from the test data; would it give a better output.

In [ ]:
print("Total number of entries is the test data set : ", test_data.shape[0])
print("Number of Nan entries in the test data set : ", test_data[test_data.property_type.isna()].shape[0])
print ("Difference : ",  test_data.shape[0] - test_data[test_data.property_type.isna()].shape[0] ,"\n")

na_test_data = test_data[test_data.property_type.isna()]
na_train_X, na_train_y = testDataPreprocessing(test_data)

na_train_X = na_train_X.drop(na_train_X[test_data.property_type.isna()].index)
print("Post ignoring the Nan entries, test data size of X: ", na_train_X.shape[0])

na_train_y = na_train_y.drop(na_train_y[test_data.property_type.isna()].index)
print("Post ignoring the Nan entries, test data size of y: ", na_train_y.shape[0], "\n")

printStats(my_model_5.predict(na_train_X),np.array(na_train_y))

The best ever result so far was :
* 3.28 % of properties within predicted rent within 1% of actual rent
* 6.18 % of properties within predicted rent within 2% of actual rent
* 9.35 % of properties within predicted rent within 3% of actual rent
* 12.08 % of properties within predicted rent within 4% of actual rent
* 14.88 % of properties within predicted rent within 5% of actual rent

##### However, this does not give any computational confidence of how important the missing values are !!!!! It is only post a valid impute operation we would know for sure how good the prediction would be.
##### Perhaps, in Exploratory Data Analysis we may try to visually represent the impact.